
* {
    border: none;
    font-family: Cartograph CF Nerd Font, monospace;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
    padding: 0 3px;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #D7D7D7;
}

tooltip {
    background: #262626;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
}

#workspaces button {
    padding: 5px;
    color: #525252;
    margin-right: 5px;
}

#workspaces button.active {
    color: #D7D7D7;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #333333;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #11111b;
    background: #2F2F2F;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #313131;
    color: #B7B7B7;
    border-radius: 10px;
}

#custom-language,
#custom-updates,
#custom-caffeine,
#custom-weather,
#custom-asusctl,
#custom-cpu,
#custom-ram,
#window,
#clock,
#battery,
#pulseaudio,
#pulseaudio.microphone,
#network,
#workspaces,
#tray,
#backlight {
    background: #292929;
    padding: 0px 7px;
    margin: 3px 0px;
    margin-top: 10px;
    border: 1 solid #D7D7D7;
}

#tray {
    border-radius: 10px;
}

#custom-asusctl {
    border-radius: 10px;
    padding-left: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#custom-cpu {
    border-radius: 10px 0 0 10px;
    border-right:0;
}

#custom-ram {
    border-radius: 0 10px 10px 0;
    border-left:0;
}

#workspaces {
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#custom-caffeine {
    color: #89dceb;
    border-radius: 10px 0px 0px 10px;
    border-right: 0px;
    margin-left: 10px;
}

#custom-language {
    color: #f38ba8;
    border-left: 0px;
    border-right: 0px;
}

#custom-updates {
    color: #f5c2e7;
    border-left: 0px;
    border-right: 0px;
}

#window {
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    color: #fab387;
    border-radius: 10px;
}

#network {
    color: #f9e2af;
    border-left: 0px;
    border-right: 0px;
    border-width: 4px;
}

#pulseaudio {
    color: #89b4fa;
    border-right: 0px;
    padding-right: 5px;
}

#pulseaudio.microphone {
    color: #cba6f7;
    border-left: 0;
}

#battery {
    color: #a6e3a1;
    border-left: 0;
    border-radius: 0 10px 10px 0;
}

#backlight {
    border-radius: 10px 0 0 10px;
    padding-right: 3px;
}

